<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" rel="stylesheet">  
    <script src="https://cdn.jsdelivr.net/npm/chart.js@latest/dist/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-yaml/4.1.0/js-yaml.min.js"></script>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  {{ content }}
</body>
</html>
<script>
  // Function to fetch and parse YAML data
  // async function fetchYamlData() {
  //   const response = await fetch('{{ site.data.counts_by_create_date }}');
  //   const yamlData = await response.text();
  //   return jsyaml.load(ymlData);
  // }

  // Function to create the stacked chart
  async function createStackedChart() {
  var countsByCreateDate = YAML.parse({{ site.data.counts_by_create_date  | jsonify }});
  var ctx = document.getElementById('fileCreateChart').getContext('2d');

    // Define your chart data
    var chartData = {
      labels: Object.keys(countsByCreateDate),
      datasets: [
        {
          label: 'File Counts',
          data: Object.values(countsByCreateDate),
          backgroundColor: 'rgba(75, 192, 192, 0.2)',
          borderColor: 'rgba(75, 192, 192, 1)',
          borderWidth: 1
        }
      ]
    };
    
    // Create a chart
    var myChart = new Chart(ctx, {
      type: 'bar',
      data: chartData
    });

      
    // const data = fetchYamlData();

    // const ctx = document.getElementById('fileCreateChart').getContext('2d');
    // new Chart(ctx, {
    //   type: 'bar',
    //   data: {
    //     labels: data.dates, // An array of date labels
    //     datasets: [
    //       {
    //         label: 'Files Created',
    //         data: data.counts, // An array of file counts per date
    //         backgroundColor: 'rgba(75, 192, 192, 0.2)',
    //         borderColor: 'rgba(75, 192, 192, 1)',
    //         borderWidth: 1,
    //       },
    //     ],
    //   },
    //   options: {
    //     scales: {
    //       x: {
    //         stacked: true,
    //       },
    //       y: {
    //         stacked: true,
    //       },
    //     },
    //   },
    // });
  }

  // Call the function to create the chart when the page is ready
  document.addEventListener('DOMContentLoaded', createStackedChart);
</script>

